$dodger-blue: #19B5FE;
$picton-blue: #22A7F0;
$white: #FFFFFF;
$gray: #E9EAED;
$red: #CC181E;

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 10px 0 0 0;
  width: 100%;
  color: $white;
}

body {
  background-color: $gray;
  font-family: 'Lato', sans-serif;
  // bottom margin for footer height
  margin-bottom: 40px;
}

@import "navbar";

// Override NProgress
#nprogress {
  .bar {
    background: $red;
  }
  .spinner-icon {
    border-top-color: $red;
    border-left-color: $red;
  }
  .peg {
    box-shadow: 0 0 10px $red, 0 0 5px $red;
  }
}

// Fix Checkbox Offset
.checkbox {
  margin-left: 16px;
}

// Edit Profile Page
img#avatar-preview {
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

// core

.no-radius{
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
}
.no-padding{
  padding: 0 !important;
}

// home
.pages-home{
  .navbar-liburanku{
    margin-bottom: 0;
  }

  .landing-liburanku{
    padding: 80px 100px 20px;
    background: url(asset_path('bg.jpg')) no-repeat;
    height: 610px;
    background-size: cover;
    background-position: 0;
    margin-bottom: 20px;

    h1{
      margin: 0;
      padding: 0;
    }

    .search-destinations{
      margin-top: 95px;
    }
  }
}

// featured trip
.featured-trips{
  .f-trip{
    margin: 10px 0 20px;
    background-color: #EEE;
  }
}
