$dodger-blue: #19B5FE;
$picton-blue: #22A7F0;
$white: #FFFFFF;
$gray: #E9EAED;
$red: #CC181E;

html {
  position: relative;
  min-height: 100%;
}

img.verified {
  margin-top: -5px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 10px 0 0 0;
  width: 100%;
  color: $white;
}

body {
  background-color: $gray;
  font-family: 'Lato', sans-serif;
  // bottom margin for footer height
  margin-bottom: 40px;
}

@import "navbar";

// Override NProgress
#nprogress {
  .bar {
    background: $red;
  }
  .spinner-icon {
    border-top-color: $red;
    border-left-color: $red;
  }
  .peg {
    box-shadow: 0 0 10px $red, 0 0 5px $red;
  }
}

// Fix Checkbox Offset
.checkbox {
  margin-left: 16px;
}

// Edit Profile Page
img#avatar-preview {
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}
