// Place all the styles related to the destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.destinations {
  .map-style {
    width: 720px;
    height: 300px;
    margin: 10px 20px 10px 0;
  }
}
